@font-face {
  font-family: avenir;
  src: url(../fonts/avenir.ttf); }
@font-face {
  font-family: rounded;
  src: url(../fonts/Rounded_Elegance.ttf); }
body {
  margin: 0; }

.content nav {
  width: 100%;
  height: 80px;
  line-height: 80px; }
  .content nav .logo {
    display: inline-block;
    float: left;
    width: 100px;
    margin-left: 2em; }
    .content nav .logo img {
      width: 60%; }
  .content nav ul {
    text-align: right;
    margin-right: 6em; }
    .content nav ul li {
      padding: 0 1em;
      display: inline-block;
      text-decoration: none;
      font-family: avenir;
      font-size: 20px; }
      .content nav ul li a {
        color: #3E698B;
        text-decoration: none; }

.parallax {
  height: 2500px;
  background-image: url("../assets/home/iphone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 280px; }
  .parallax .hero {
    width: 100%;
    height: 500px;
    background: url("../assets/home/hero.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: rounded;
    padding-top: 17em;
    color: #3E698B; }
    @media only screen and (min-width: 1024px) and (max-width: 1280px) {
      .parallax .hero {
        padding-top: 14em; } }
  .parallax #bloque-1 {
    position: absolute;
    top: 300px;
    height: 1px;
    width: 100%; }
  .parallax #bloque-2 {
    position: absolute;
    top: 1000px;
    height: 1px;
    width: 100%; }
  .parallax .static-iphone {
    position: relative;
    transition: opacity ease-in-out 0.6s;
    overflow: hidden; }
    @media only screen and (min-width: 800px) and (max-width: 1280px) {
      .parallax .static-iphone {
        margin-top: -136%; } }
  .parallax figure {
    background: transparent; }

#screen-0 {
  width: 100%;
  height: 1200px;
  background: url("../assets/home/screen-1.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 280px; }
  #screen-0 .conocemos {
    width: 100%;
    height: 300px; }
    #screen-0 .conocemos p {
      position: absolute;
      top: 20%;
      left: 18%;
      text-align: right;
      font-family: rounded;
      font-size: 28px;
      width: 320px;
      color: #3e698b;
      padding: 1em; }
    #screen-0 .conocemos .search {
      background: url("../assets/home/search.png");
      background-repeat: no-repeat;
      transform: rotate(30deg);
      background-size: 100%;
      width: 20%;
      height: 450px;
      margin-top: 15%;
      margin-left: -10%;
      float: left; }
      @media only screen and (min-width: 800px) and (max-width: 1281px) {
        #screen-0 .conocemos .search {
          height: 257px; } }
    #screen-0 .conocemos .certificate {
      background: url("../assets/home/certificate.png");
      background-repeat: no-repeat;
      transform: rotate(30deg);
      background-size: 100%;
      width: 35%;
      height: 550px;
      margin-top: 5%;
      margin-right: -5%;
      float: right; }
      @media only screen and (min-width: 800px) and (max-width: 1281px) {
        #screen-0 .conocemos .certificate {
          height: 257px; } }

#screen-1 {
  width: 100%;
  height: 1200px;
  background: url("../assets/home/screen-2.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px;
  background-attachment: fixed;
  margin-top: -700px;
  opacity: 0; }
  #screen-1 .acuerdo {
    width: 100%;
    height: 300px; }
    #screen-1 .acuerdo p {
      position: absolute;
      top: 40%;
      right: 18%;
      font-family: rounded;
      font-size: 28px;
      width: 320px;
      color: #3e698b;
      padding: 1em; }
    #screen-1 .acuerdo .post-it {
      background: url("../assets/home/post-it.png");
      background-repeat: no-repeat;
      transform: rotate(30deg);
      background-size: 100%;
      width: 20%;
      height: 450px;
      margin-top: 40%;
      margin-left: -22%;
      float: left; }
      @media only screen and (min-width: 800px) and (max-width: 1281px) {
        #screen-1 .acuerdo .post-it {
          height: 257px; } }
    #screen-1 .acuerdo .agenda {
      background: url("../assets/home/agenda.png");
      background-repeat: no-repeat;
      transform: rotate(5deg);
      background-size: 100%;
      width: 35%;
      height: 500px;
      margin-top: 45%;
      margin-right: -40%;
      float: right; }
      @media only screen and (min-width: 800px) and (max-width: 1281px) {
        #screen-1 .acuerdo .agenda {
          height: 257px; } }

#screen-2 {
  width: 100%;
  height: 1200px;
  background: url("../assets/home/screen-3.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px;
  background-attachment: fixed;
  margin-top: -450px;
  opacity: 0; }
  #screen-2 .tratamiento {
    width: 100%;
    height: 300px; }
    #screen-2 .tratamiento p {
      position: absolute;
      top: 20%;
      left: 18%;
      text-align: right;
      font-family: rounded;
      font-size: 28px;
      width: 320px;
      color: #3e698b;
      padding: 1em; }
    #screen-2 .tratamiento .radio {
      background: url("../assets/home/radio.png");
      background-repeat: no-repeat;
      transform: rotate(10deg);
      background-size: 100%;
      width: 30%;
      height: 550px;
      margin-top: 30%;
      margin-left: -27%;
      float: left; }
      @media only screen and (min-width: 800px) and (max-width: 1281px) {
        #screen-2 .tratamiento .radio {
          height: 257px; } }
    #screen-2 .tratamiento .receta {
      background: url("../assets/home/prescription.png");
      background-repeat: no-repeat;
      transform: rotate(-80deg);
      background-size: 100%;
      width: 35%;
      height: 550px;
      margin-top: 5%;
      margin-right: -45%;
      float: right; }
      @media only screen and (min-width: 800px) and (max-width: 1281px) {
        #screen-2 .tratamiento .receta {
          height: 257px; } }

/*ok*/

/*# sourceMappingURL=home.css.map */
